.DS_Store
.AppleDouble
.LSOverride
azure.err
iisnode.yml

# Icon must ends with two \r.
Icon

#node nodules folder
node_modules

#public distribution folder
#public/dist

# Floobits
.floo
.floobit
.floo
.flooignore
